<% include ../partials/header.ejs %>
<%= message %>

<section>
    <div>
      <h3>Welcome to my to-do app.</h3>
    </div>
    <button>To-Do</button>
  </section>

<% include ../partials/footer.ejs %>
