body{
  background-color: grey;
}
header{
  display: flex;
  text-align: center;
  width: 100%;
}
#welcome{
  border: 2px solid black;
  margin: 300px;
}

 #logo{
  flex:left;
  width:10%;
  font-size: 20px;
  margin-top: 30px;
}

#nav{
   width:85%;
}
#nav ul li{
   display:inline-block;
}

section{
  margin-top: 40px;
  width: 200px;
  height: 60px;
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  font-family: Arial, Helvetica, sans-serif;
  font-variant: small-caps;
  font-weight: bold;
}

footer{
  display: flex;
  margin-bottom: 10px;
}

strong{
  margin-top: 300px;
}
