<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <form method='POST' action='/todo'>
  <input name='title' type='text' placeholder='Title' />
  <input name='category' type='text' placeholder='category' />
  <input name='status' type='text' placeholder='status'>
  <input type='submit' value='Submit!' />
</form>
</body>
</html>
