<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
 <div>
    <h1><%= data.title %></h1>
    <h3><%= data.category %></h3>
    <h3><%= data.status %></h3>
    <a href='/todo/'>See all todos</a>
  </div>
</body>
</html>
